/* * {
  font-family: century gothic;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */
/* html {
  font-size: 62.5%;
} */
/* header section starts */
/* header section ends */

/* main section start */
/* main section end */

/* footer section start */
/* footer section ends */

/* responsive section start */
/* responsive section end */
